@using FakeNewsFilter.ViewModel.Catalog.NewsManage
@model List<NewsViewModel>
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
<!--Post aside style 1-->
<div class="sidebar-widget mb-30">
    <div class="widget-header position-relative mb-30">
        <div class="row">
            <div class="col-7">
                <h4 class="widget-title mb-0">Don't <span>miss</span></h4>
            </div>
            <div class="col-5 text-right">
                <h6 class="font-medium pr-15">
                    <a class="text-muted font-small" href="#">View all</a>
                </h6>
            </div>
        </div>
    </div>
    <div class="post-aside-style-1 border-radius-10 p-20 bg-white">
        <ul class="list-post">
            @foreach (var item in Model.Take(4))
            {

                <li class="mb-20">
                    <div class="d-flex">
                        <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                            <a class="color-white"asp-action="GetNewsById" asp-controller="News" asp-route-id="@item.NewsId">
                                <img src="@item.ThumbNews" alt="">
                            </a>
                        </div>
                        <div class="post-content media-body">
                            <h6 class="post-title mb-10 text-limit-2-row"><aasp-action="GetNewsById" asp-controller="News" asp-route-id="@item.NewsId">@item.Title</aasp-action=></h6>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
<!--Top authors-->
<div class="sidebar-widget mb-30">
    <div class="widget-top-auhor border-radius-10 p-20 bg-white">
        <div class="widget-header widget-header-style-1 position-relative mb-15">
            <h5 class="widget-title pl-5">Top <span>Authors</span></h5>
        </div>
        @foreach (var item in Model.Take(24))
        {
            <a class="red-tooltip active" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Emma - 1034 posts"><img src="@item.ThumbNews" alt=""></a>

        }
    </div>
</div>
<!--Newsletter-->
<div class="sidebar-widget widget_newsletter border-radius-10 p-20 bg-white mb-30">
    <div class="widget-header widget-header-style-1 position-relative mb-15">
        <h5 class="widget-title">Newsletter</h5>
    </div>
    <div class="newsletter">
        <p class="font-medium">Heaven fruitful doesn't over les idays appear creeping</p>
        <form target="_blank" action="#" method="get" class="subscribe_form relative mail_part">
            <div class="form-newsletter-cover">
                <div class="form-newsletter position-relative">
                    <input type="email" name="EMAIL" placeholder="Put your email here" required="">
                    <button type="submit">
                        <i class="ti ti-email"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--Post aside style 2-->
<div class="sidebar-widget mb-30">
    <div class="widget-header mb-30">
        <h5 class="widget-title">Top <span>Trending</span></h5>
    </div>
    <div class="post-aside-style-2">
        <ul class="list-post">
            @foreach (var item in Model.Take(3))
            {

                <li class="mb-30 wow fadeIn animated">
                    <div class="d-flex">
                        <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                            <a class="color-white"asp-action="GetNewsById" asp-controller="News" asp-route-id="@item.NewsId">
                                <img src="@item.ThumbNews" alt="">
                            </a>
                        </div>
                        <div class="post-content media-body">
                            <h6 class="post-title mb-10 text-limit-2-row"><aasp-action="GetNewsById" asp-controller="News" asp-route-id="@item.NewsId">@item.Title</aasp-action=></h6>
                            <div class="entry-meta meta-1 font-x-small color-grey float-left text-uppercase">
                                <span class="post-by">By <a href="author.html">K. Marry</a></span>
                                <span class="post-on">4m ago</span>
                            </div>
                        </div>
                    </div>
                </li>
            }

        </ul>
    </div>
</div>
<div class="sidebar-widget mb-30">
    <div class="widget-header mb-30">
        <h5 class="widget-title">Most <span>Popular</span></h5>
    </div>
    <div class="post-aside-style-3">
        @foreach (var item in Model.Take(2))
        {

            <article class="bg-white border-radius-15 mb-30 p-10 wow fadeIn animated">
                <div class="post-thumb d-flex mb-15 border-radius-15 img-hover-scale">
                    <aasp-action="GetNewsById" asp-controller="News" asp-route-id="@item.NewsId">
                        <img class="border-radius-15" src="@item.ThumbNews" alt="">
                    </aasp-action=>
                </div>
                <div class="pl-10 pr-10">
                    <h5 class="post-title mb-15"><aasp-action="GetNewsById" asp-controller="News" asp-route-id="@item.NewsId">@item.Title</aasp-action=></h5>
                    <div class="entry-meta meta-1 font-x-small color-grey float-left text-uppercase mb-10">
                        <span class="post-in">In <a href="category.html">Healthy</a></span>
                        <span class="post-by">By <a href="author.html">Steven</a></span>
                        <span class="post-on">14m ago</span>
                    </div>
                </div>
            </article>
        }

    </div>
</div>
<div class="sidebar-widget p-20 border-radius-15 bg-white widget-latest-comments wow fadeIn animated">
    <div class="widget-header mb-30">
        <h5 class="widget-title">Last <span>Comments</span></h5>
    </div>
    <div class="post-block-list post-module-6">
         @foreach (var item in Model.Take(2))
        {
        
        <div class="last-comment mb-20 d-flex wow fadeIn animated">
            <span class="item-count vertical-align">
                <a class="red-tooltip author-avatar" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Azumi - 985 posts"><img src="@item.ThumbNews" alt=""></a>
            </span>
            <div class="alith_post_title_small">
                <p class="font-medium mb-10"><aasp-action="GetNewsById" asp-controller="News" asp-route-id="@item.NewsId">@item.Title</aasp-action=></p>
                <div class="entry-meta meta-1 font-x-small color-grey float-left text-uppercase mb-10">
                    <span class="post-by">By <a href="author.html">Azumi</a></span>
                    <span class="post-on">4m ago</span>
                </div>
            </div>
        </div>
        }
        
    </div>
</div>