@using FakeNewsFilter.ViewModel.Common;
@model PagedResult<FakeNewsFilter.ViewModel.System.Users.UserViewModel> 

@{
    ViewData["Title"] = "LIST USERS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Users Manager</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">List User</li>
            </ol>
        </nav>
    </div>
</div>
    @if(ViewBag.SuccessMsg!=null)
            {
                <script>
                    window.onload = function () {
                        Lobibox.notify('success', {
                            pauseDelayOnHover: true,
                            size: 'mini',
                            rounded: true,
                            icon: 'bx bx-check-circle',
                            delayIndicator: false,
                            continueDelayOnInactiveTab: false,
                            position: 'top right',
                            msg: '@ViewBag.SuccessMsg'
                        });
                    }
                    
                </script>
            }
    <div class="row">
        <div class="col">
            <div class="card radius-10 mb-0">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <h5 class="mb-1">@ViewData["Title"]</h5>
                        </div>

                        <div class="ms-auto">
                            <div class="row">
                                <div class="col-md-5">
                                    <a asp-action="Create" asp-controller="User" class="btn btn-outline-success"><i class="bx bx-user-pin"></i>Create User</a>
                                </div>
                                <form asp-action="Index" method="get" class="col-md-7">
                                    <div class="input-group">
                                        <input type="text" class="form-control" value="@ViewBag.Keyword" name="keyword" placeholder="Search">
                                        <button class="btn btn-success" type="submit">
                                            <i class="bx bx-search"></i>
                                       
                                        </button>
                                        <button class="btn btn-danger" type="button" onclick="window.location.href='User/Index'">
                                            <i class="bx bx-refresh"></i>
                                        </button>
                                    </div>
                                </form>

                            </div>


                        </div>
                    </div>
                   
                    <div class="table-responsive mt-3">
                        <table class="table align-middle mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th>User Id</th>
                                    <th>User Name</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FullName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td class=""><span class="badge bg-light-success text-success w-100">@Html.DisplayFor(modelItem => item.Status)</span></td>
                                        <td>
                                            <div class="d-flex order-actions">
                                                <a data-bs-toggle="modal" data-bs-target="#deleteUser" class="text-danger bg-light-danger border-0"><i class="bx bxs-trash"></i></a>
                                                <form action="/User/Delete?UserId=@item.UserId" method="post">
                                                    <div class="modal fade" id="deleteUser" tabindex="-1" aria-hidden="true" style="display: none;">
                                                        <div class="modal-dialog modal-sm">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Delete User</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">Are you sure to delete this account?</div>

                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary">Yes</button>
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <a asp-action="Edit" asp-route-id="@item.UserId" class="ms-4 text-primary bg-light-primary border-0"><i class="bx bxs-edit"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div style="padding-top: 20px">
                        @await Component.InvokeAsync("Pager", Model)
                    </div>
                </div>

            </div>
        </div>
    </div>
