@model List<FakeNewsFilter.ViewModel.Catalog.Claims.ClaimViewModel>



    @for (int i = 0; i < Model?.Count; i++)
    {
        var guid = Guid.NewGuid().ToString("N");

        <div class="col-xl-6 col-lg-12">
            <div class="card">
                <div class="card-body" id="card-body-@guid">
                    <h3 class="card-title">Claim by @Model[i].Claimant</h3>

                    <p class="card-title">@Model[i].Text</p>

                    @foreach (var claimReview in @Model[i].ClaimReview)
                    {
                        <h4 class="card-text">@claimReview.Publisher.Name rating: @claimReview.TextualRating</h4>

                        <a href="@claimReview.Url" class="card-text">@claimReview.Title</a>
                    }

                    <div class="card-title"><a id="@guid" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modals-slide-in" href="#">Clone</a></div>
                </div>
            </div>
        </div>
    }

    <input class="nextPageToken" type="hidden" value="@ViewBag.NextPageToken" />






