@model FakeNewsFilter.ViewModel.Catalog.OigetitNewsViewModel

@if (@Model?.result.Count > 0)
{
    @foreach (var news in @Model?.result)
    {
        var guid = Guid.NewGuid().ToString("N");
        <div class="col-sm-6 col-xxl-6">
            <div class="element-wrapper">
                <div class="element-box">
                    <div class="card-body" id="card-body-@guid">
                        <div>
                            <a id="news-url" href="@news.URL" class="card-text">
                                <h4 id="news-title" class="card-title">@news.Title</h4>
                            </a>
                        </div>
                        <div id="news-imageLink">
                            <img src="@news.ImageURL" class="img-fluid" alt="@news.Title"/>
                        </div>
                        <div id="news-description">
                            <label>Description: </label>
                            <p class="card-text">@news.Description</p>
                        </div>
                        <div id="news-publisher">
                            <h5>From @news.Feed</h5>
                        </div>
                        <div id="news-datePublish">
                            <p class="card-text">Published at: @news.PubDate </p>
                        </div>
                        <div>
                            <a id="@guid" class="btn add-new btn-rounded btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" href="#">Clone</a>
                            @* <button id="@guid" class="btn add-new btn-rounded btn-primary" tabindex="0" aria-controls="list_news" type="button" data-toggle="modal" data-target=".bd-example-modal-lg"><span>Clone</span></button> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}