@using FakeNewsFilter.ViewModel.Common;
@using FakeNewsFilter.Data.Enums;
@using FakeNewsFilter.ViewModel.System.Users;

@model ApiResult<List<UserViewModel>>

@{
    ViewData["Title"] = "List Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Partial View hiển thị các thông báo*@
<partial name="_Toastr" />

@*Hiển thị tổng quan dữ liệu (số lượng chủ đề, số lượng tin tức có trong các chủ )*@
<div class="container-fluid">
    <div class="element-wrapper">
        <h6 class="element-header">
            TOPIC SUMMARY INFOMATION
        </h6>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xxxl-6">
            <a class="element-box el-tablo centered" href="#">
                <div class="label">
                    Number of Admin
                </div>
                <div class="value">
                    @Model.ResultObj.Count(c => c.Roles.Contains("Admin"))
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-xxxl-6">
            <a class="element-box el-tablo centered" href="#">
                <div class="label">
                    Number of Users
                </div>
                <div class="value">
                    @Model.ResultObj.Count
                </div>
            </a>
        </div>
    </div>
</div>

<div class="element-wrapper">
    @*Nút thêm mới 1 user*@
    <div class="element-actions">
        <a class="btn btn-success btn-sm text-white" data-target="#createUser" data-toggle="modal"> <i class="os-icon os-icon-ui-22"></i> <span>Add New User</span></a>
    </div>
    <h6 class="element-header">
        LIST USERS
    </h6>
    @*Hiển thị bảng danh sách người dùng*@
    <div class="table-responsive">
        <table id="list_topic" width="100%" class="table table-padded text-center">
            <thead class="row-actions">
                <tr>
                    <th>Email</th>
                    <th>User Name</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ResultObj)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @{
                                foreach (var rol in item.Roles)
                                {
                                    switch (rol)
                                    {
                                        case "Admin":
                                            {
                                                      <div> <span class="text-truncate align-middle"> </span></div>
                                                break;
                                            }
                                    }
                                }
                            }
                        </td>
                       
                        <td>
                            @{

                                switch (item.Status)
                                {
                                    case Status.Active:
                                        {
                                            <div class="status-pill green" data-title="Active" data-toggle="tooltip"> </div>
                                            break;
                                        }
                                    case Status.InActive:
                                        {
                                            <div class="status-pill red" data-title="InActive" data-toggle="tooltip"></div>
                                            break;
                                        }
                                    case Status.Archive:
                                        {
                                            <div class="status-pill yellow" data-title="Archive" data-toggle="tooltip"></div>
                                            break;
                                        }
                                }
                            }
                        </td>
                        <td class="row-actions">
                            <div>
                                <a class="danger" id="btnDetailTopic" onclick=Detail(@item.UserId) data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                    <i class="os-icon os-icon-ui-49"></i>
                                </a>

                                <a class="danger" onclick=DeleteData(@item.UserId) data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                    <i class="os-icon os-icon-ui-15"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="table-records-pages">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                </ul>
            </nav>
        </div>
    </div>

</div>

    @section footerscripts{
        <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
        <script src="/js/admin/user.js"></script>
    }

